
.el-header{
  background-color: rgb(102, 186, 183);
}
.header.el-header{
  padding: 0px;
  height: 55px;

}
.el-header el-row{
  height: 55px;

}
.el-header h3{
  font-weight: inherit;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 16px;
}
.el-main{
  background-color: rgb(245,245,245);
  padding: 50px;

}
