.header.el-header{
  padding: 0px;
  height: 65px;
}
.el-header el-row{
  height: 65px;
}
.el-main{
  height: 800px;
  background-color: rgb(245,245,245);
  padding: 30px;
}


.grid-content {
  border-radius: 4px;
  height: 45px;
}
.el-header h1{
  font-weight: inherit;
  font-size: 34px;
  color: rgb(235,122,119);
  text-align: left;
  padding-left: 50px;
  margin-top: 10px;
  /*padding-top: 10px;*/
;
}
#login{
  font-size: 16px;
  margin-top: 20px;
  padding-left: 0px;

}

#myCenter{
  margin-top: 17px;
  margin-bottom: 16px;
  font-size: 20px;
  padding-left: 0px;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.el-card{
  display: inline-block;
}
.bottom {
  margin-top: 4px;
  line-height: 5px;
}
.button{
  padding:0px;
  float: right;
  font-size: inherit;
   color: rgb(247, 196, 66);
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}
#showBrief{
  width: 280px;
  height: 360px;
  margin-left:46px;
  margin-top: 30px;
background-color: white;
  float: left;
  box-shadow: 2px 2px 3px #BFBFBF;
}
