#title {
  font-size: 25px;
  color:rgb(235,122,119);
  margin-left: 70px;
  margin-top: 100px;
}
.el-input{
  width: 340px;
}
.el-form-item{
  margin-left:32%;
  width:435px;
  /*display: inline-block;*/
}
